<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar-section">
            <div class="home-options">
                <h1>Home</h1>
                <h4>Tasks</h4>
                <ul>
                    <li>Today</li>
                    <li>Upcoming</li>
                    <li>Completed</li>
                </ul>
                <h4>Lists</h4>
                <li>Personal</li>
                <li>Work</li>
                <li>Home</li>
            </div>
            <div class="signout-profile">
                <a href="user_profile"><h3>Profile</h3></a>
                <a href="logout"><button>logout</button></a>
            </div>
        </div>

        <div class="task-list-section">
            Good Morning ! {{ user_details.username }}
            <h1>Tasks list</h1>
            <div>
                <!-- this button will open the form from right side -->
                <button>
                    Add new task
                </button>
            </div>
            {% if tasks  %}
            {% for task in tasks %}
            <div class="task-container">
                <!-- <h4>task id: {{ task.task_id }}</h4> -->
                <div class="task-checkbox">
                    <div class="completion-button">
                        <form action="">
                            {% csrf_token %}
                            <input type="checkbox" name="" id="isCompleted">
                            <input type="hidden" name="task_id" id="taskId" value={{task.task_id}}>
                        </form>
                    </div>
                </div>
                <div class="task-details">
                    <div class="title-bin-container">
                        <div class="title">{{ task.title }}</div>
                    </div>
                    <div>
                        <p class="description">{{ task.description }}</p>
                    </div>
                    <div class="category-duedate-container">
                        <div class="category-container">
                            <div class="category-personal-label"></div>
                            <p class="category">{{ task.category }}</p>
                        </div>
                        <div class="due-date-container">
                            <!-- <img src="" alt="cal-icon"> -->
                            <i class="fa-solid fa-calendar-days"></i>
                            <p class="due_date">{{ task.dueDate }}</p>
                        </div>
                    </div>
                    <div>
                        <form action="delete_task" method="post">
                            {% csrf_token %}
                            <div>
                                <input type="hidden" name="task_id"  value={{task.task_id}} id="">
                                <button><img src="" alt="bin"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <!-- display no tasks for today-->
            <div>
                <p>No tasks</p>
            </div>
            {% endif %}
        </div>

        <!-- to appear when add task is clicked -->
        <div class="new-task-form-section">
            <form action="new_task" method="post">
                {% csrf_token %}
                <h1>Task:</h1>
                <div>
                    <input type="text" name="task_title" id="takstitle" placeholder="Title">
                </div>
                <div>
                    <textarea name="task_desc" id="taskdesc" cols="30" rows="10" placeholder="Description"></textarea>
                </div>
                <div>
                    <label for="">Category: </label>
                    <select name="list" id="list">
                        <option value="work">Work</option>
                        <option value="personal">Personal</option>
                        <option value="home">Home</option>
                    </select>
                </div>
                <div>
                    <label for="">Due Date: </label>
                    <input type="date" name="due_date" id="duedate">
                </div>
                <div>
                    <button>Save Task</button>
                </div>
            </form>
        </div>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.getElementById('isCompleted');
            checkbox.addEventListener('change', function () {
                var isChecked = checkbox.checked;
                var taskId = document.getElementById('taskId').value;

                var csrftoken = getCookie('csrftoken');

                // Send POST request to update the field
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'mark_completed', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', csrftoken);  // Include CSRF token in request headers
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // Handle success if needed
                        window.location.reload();
                    } else {
                        // Handle error if needed
                    }
                };
                console.log("task id: "+ taskId)
                xhr.send(JSON.stringify({ task_id: taskId, is_completed: isChecked }));
            });
        });

        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>
</body>
</html>