<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar-section">
            <div class="home-options">
                <div id="menu">
                    Good Morning ! {{ user_details.username }}
                </div>
                <div id="tasks-heading">Tasks</div>
                    <a href="dashboard">
                        <li class="tasks-item ">
                            <div class="task-item-icon">
                                <i class="fa-solid fa-table-list"></i>
                            </div>
                            <div class="task-item-text ">
                                Today
                            </div>
                            <div class="task-item-count">{{num_of_tasks}}</div>
                        </li>
                    </a>
                    <a href="upcoming_tasks">
                        <li class="tasks-item">
                            <div  class="task-item-icon">
                                <i class="fa-solid fa-circle-chevron-right "></i>
                            </div>
                            <div class="task-item-text">Upcoming</div>
                            <div class="task-item-count">{{upcoming_tasks_count}}</div>
                        </li>
                    </a>
                    <a href="completed_tasks">
                        <li class="tasks-item">
                            <div  class="task-item-icon"><i class="fa-solid fa-square-check "></i></div>
                            <div class="task-item-text">Completed</div>
                            <div class="task-item-count">{{completed_tasks_count}}</div>
                        </li>
                    </a>
                <div id="list-heading">Lists</div>
                <a href="personal_tasks">
                    <li class="lists-item">
                        <div class="list-item-red">
                            <div class="redbox"></div>
                        </div>
                        <div class="list-item-text">
                            Personal
                        </div>
                        <div class="task-item-count">{{personal_tasks_count}}</div>
                    </li>
                </a>
                <a href="work_tasks">
                    <li class="lists-item active">
                        <div class="list-item-yellow">
                            <div class="yellowbox"></div>
                        </div>
                        <div class="list-item-text">Work</div>
                        <div class="task-item-count">{{work_tasks_count}}</div>
                    </li>
                </a>
                <a href="home_tasks">
                    <li class="lists-item">
                        <div class="list-item-blue">
                            <div class="bluebox"></div>
                        </div>
                        <div class="list-item-text">Home</div>
                        <div class="task-item-count">{{home_tasks_count}}</div>
                    </li>
                </a>
            </div>
            <div class="signout-profile">
                <a href="user_profile">
                    <div id="profile-div">
                        <div id="profile-icon"><i class="fa-solid fa-user"></i></div>
                        <div id="profile-text">Profile</div>
                    </div>
                </a>
                <a href="logout">
                    <div id="logout-div">
                        <div id="logout-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                        <div id="logout-text">Sign out</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="task-list-section">
            <div class="tasks-heading-container">
                <div class="today-upcoming-completed-heading">Work</div>
                <div class="tasks-count"><span class="task-count-divider">l</span>{{ num_of_tasks }}<span class="task-count-divider">l</span></div>
            </div>
            <div class="add-task-btn-container">
                <!-- this button will open the form from right side -->
                <div class="plus">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="add-task-text" id="addNewTask">
                    Add New Task
                </div>
            </div>
            {% if tasks  %}
            {% for task in tasks %}
            <div class="task-container">
                <!-- <h4>task id: {{ task.task_id }}</h4> -->
                <div class="task-checkbox">
                    <div class="completion-button">
                        <form action="">
                            {% csrf_token %}
                            <input type="checkbox" name="" class="isCompleted" data-task-id={{task.task_id}}>
                            <input type="hidden" name="task_id" id="taskId">
                        </form>
                    </div>
                </div>
                <div class="task-details">
                    <div class="title-arrow-container">
                        <div class="task-title">{{ task.title }}</div>
                        <!-- <div>{{ task.dueDate }}</div> -->
                        <div class="togglebutton"><i class="fa-solid fa-chevron-right rotate-right"></i></div>
                    </div>
                    <div>
                        <div class="description">{{ task.description }}</div>
                    </div>
                    <div class="task-subdetails-container">
                        <div class="category-duedate-container">
                            <div class="category-container">
                                {% if task.category == "personal" %}
                                    <div class="redbox"></div>
                                {% elif task.category == "home" %}
                                    <div class="bluebox"></div>
                                {% elif task.category == "work" %}
                                    <div class="yellowbox"></div>
                                {% endif %}
                                <div class="category">{{ task.category }}</div>
                            </div>
                            <div class="due-date-container">
                                <div>
                                    <i class="fa-regular fa-calendar-xmark"></i>
                                </div>
                                <div class="due_date">{{ task.dueDate }}</div>
                            </div>
                        </div>
                        <div id="task-edit-del-container">
                            <div class="task-edit-container">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                            <div class="task-del-container">
                                <form action="delete_task" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <input type="hidden" name="task_id"  value={{task.task_id}} id="">
                                        <button><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <!-- display no tasks for today-->
            <div class="no-task-container">
                <div class="no-task-heading">No task listed</div>
                <div class="no-task-image-container"><img src="{% static '/images/no-task.svg' %}" alt=""></div>
            </div>
            {% endif %}
        </div>
</div>
<script>
        var toggleButtons = document.querySelectorAll(".togglebutton");

// Add event listeners to toggle buttons
toggleButtons.forEach(function(button) {
button.addEventListener("click", function() {
    var descriptionDiv = button.parentElement.nextElementSibling.querySelector(".description");

    if (descriptionDiv.style.display === "none") {
            // Open the description div
            descriptionDiv.style.display = "block";
            button.querySelector("i").classList.add("rotate-right");
        } else {
            // Close the description div
            descriptionDiv.style.display = "none";
            button.querySelector("i").classList.remove("rotate-right");
        }
});
});


    document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.getElementsByClassName('isCompleted');
            for (var i = 0; i < checkbox.length; i++) {

                checkbox[i].addEventListener('change', function () {
                    var isChecked = this.checked;
                    var taskId = this.getAttribute('data-task-id');
                    console.log(taskId)
                    var csrftoken = getCookie('csrftoken');

                    // Send POST request to update the field
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'mark_completed', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);  // Include CSRF token in request headers
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // Handle success if needed
                            window.location.reload();
                        } else {
                            // Handle error if needed
                        }
                    };
                    console.log("task id: "+ taskId)
                    xhr.send(JSON.stringify({ task_id: taskId, is_completed: isChecked }));
                });
            }
        });

        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
</body>
</html>