body {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    color: #545454;
}

body::-webkit-scrollbar{
    display: none;
}

.sign-up-section {
    background-color: white;
    padding: 6rem 10rem;
    height: 60vh;
    display: flex;
    gap:8rem;
    align-items: center;
    justify-content: center;
    border-radius:30px ;
    -webkit-border-radius:30px ;
    -moz-border-radius:30px ;
    -ms-border-radius:30px ;
    -o-border-radius:30px ;
}

.sign-up-image-sec {
    flex:1;
    width: 20vw;
    height: 70vh;
    contain: content;
    background-color: #F0F0F0;
    /* backdrop-filter: blur(20px); */
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /* padding: 5rem; */
}

.sign-up-intro {
    color: #545454;
    margin: 3rem 5rem;
    div{
        font-size: 3rem;
        font-weight: 600;
        line-height: 4rem;
    }
    h5 {
        font-size: 1rem;
    }
}

.image{
    text-align: center;
}

.sign-up-form-sec {
    background-color: white;
    border-radius: 30px;
    flex: 1;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: content;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sign-up-form {
    padding: 5rem;

    input, button {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        padding: 0%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    input{
        background-color: #F0F0F0;
        border: none;
        color: #545454;
    }
    button {
        background-color: #545454;
        color: #F0F0F0;
        border-width: 0.5px;
        border-color: azure;
    }

    input:focus {
        /* padding-left: 2rem; */
        outline: none;
    }
    button:hover{
        scale: 1.02;
    }
}

#signup-password-container{
    margin-bottom: 0;
    padding-bottom: 0;
}

#pass-gen-text{
    text-align: right;
    margin-bottom: 1rem;
}

#signup-password{
    margin-bottom: 0;
}

body{
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
}
section{
    padding: 5rem;
    backdrop-filter: blur(10px);

    .login-section , .forgPass-section{
        /*background-image:;
        url("https://unsplash.it/2000/2000");
        */background-color: #fff;
        padding: 6rem 10rem;
        display: flex;
        gap:8rem;
        align-items: center;
        justify-content: center;
        height: 60vh;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
}

.login-text-sec, .forgPass-text-sec{
    flex:1;
    width: 20vw;
    height: 70vh;
    contain: content;
    /* height:103vh; */
    background-color: #F0F0F0;
    /* overflow: visible; */
    backdrop-filter: blur(20px);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.login-text, .forgPass-text {
    color: #545454;
    margin: 5rem;
    div{
        font-size: 2.5rem;
        font-weight: 600;
    }
    h5 {
        font-size: 1rem;
        margin-bottom: 3.5rem;
    }
}

.login-form-sec, .forgPass-form-sec {
    background-color: white;
    border-radius: 30px;
    flex: 1;
    height: 70vh;
    /*width: 30vw;
    */display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
    /*padding: 20%;*/
    contain: content;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.login-form , .forgPass-form{
    padding: 5rem;
    h1{
        font-size: 2rem;
        font-weight: 650;
    }

    input, button {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    input{
        border-color: #545454;
        color: #545454;
        border:none;
        background-color: #F0F0F0;
    }
    button {
        border-width: 0.5px;
        border-color: azure;
        background-color: #545454;
        color: #f0f0f0;
    }
    input:focus {
        /* padding-left: 2rem; */
        outline: none;
    }
    button:hover{
        scale: 1.02;
    }
}


#modal-container{
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container.visible{
    display: flex;
}

#modal-container.visible #pass-gen-modal{
    /* if modal-container has a class visible then do the following on the pass-gen-modal */
    animation: drop-in 150ms linear;
    -webkit-animation: drop-in 150ms linear forwards;
}

@keyframes drop-in {
    from{
        transform: translateY(-60vh)    ;
        -webkit-transform: translateY(-60vh)    ;
        -moz-transform: translateY(-60vh)    ;
        -ms-transform: translateY(-60vh)    ;
        -o-transform: translateY(-60vh)    ;
}
to{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

body:has(#modal-container.visible){
    overflow: hidden;
}

#pass-gen-modal{
    height: 30vh;
    width: 30vw;
    background-color: #F0F0F0;
    color: #545454;
    padding: 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#pass-gen-modal-heading{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

#pass-gen-modal-subhead{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0rem 0.5rem 0rem;
}

#generate-btn-form{
    padding: 1rem;
    text-align: center;
}

#password-length{
    height: 2rem;
    width: 5rem;
    border: none;
    margin: 0px 1.5rem 0px 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#password-length:focus {
    outline: none;
}

#generate-btn {
    height: 2rem;
    width: 7rem;
    background-color: #545454;
    color: #F0F0F0;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#generate-btn:hover{
    scale: 1.01;
}

#password-container{
    margin-top: 0.5rem;
    background-color: white;
    height: 2rem;
    width: 12rem;
    display: flex;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    #password{
        flex:4;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #copy-btn{
        flex:1;
        color: #545454;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#pass-gen-btn:hover{
    cursor: pointer;
    font-weight: 500;
}

#close-modal-btn {
    text-align: right;

    i:hover{
        cursor: pointer;
    }
}